<header class="mx-auto  max-w-[1072px]">
  <div class="flex px-4 m-2 rounded-xl lg:justify-center bg-gray-100 dark:bg-gray-100/5">

    <div class="relative z-50 ltr:mr-auto rtl:ml-auto flex items-center">
      <a class="-translate-y-[1px] text-4xl" style="font-family: 'Micro 5 Charted', sans-serif;" href="/"> {{ site.Title
        }} </a>
      <div
        class="btn-dark text-[0] ltr:ml-4 rtl:mr-4 h-6 w-6 shrink-0 cursor-pointer {{ if site.Params.monoDarkIcon }}[background:url(./theme.svg)_left_center/cover_no-repeat] dark:invert{{ else }}[background:url(./theme.png)_left_center/_auto_theme('spacing.6')_no-repeat] [transition:_background-position_0.4s_steps(5)]{{ end }} dark:[background-position:right]"
        role="button" aria-label="Dark"></div>

    </div>

    <div
      class="btn-menu relative z-50 ltr:-mr-8 rtl:-ml-8  h-[4.5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 hidden"
      role="button" aria-label="Menu"></div>

    {{ $bg_color := $.Scratch.Get "bg_color" }}<!---->

    <script>
      // base
      const htmlClass = document.documentElement.classList;
      setTimeout(() => {
        htmlClass.remove('not-ready');
      }, 10);

      // mobile menu
      const btnMenu = document.querySelector('.btn-menu');
      btnMenu.addEventListener('click', () => {
        htmlClass.toggle('open');
      });

      // dark theme
      const metaTheme = document.querySelector('meta[name="theme-color"]');
      const lightBg = '{{ $bg_color }}'.replace(/"/g, '');
      const setDark = (isDark) => {
        metaTheme.setAttribute('content', isDark ? '#000' : lightBg);
        htmlClass[isDark ? 'add' : 'remove']('dark');
        localStorage.setItem('dark', isDark);
      };

      // init
      const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
      if (htmlClass.contains('dark')) {
        setDark(true);
      } else {
        const darkVal = localStorage.getItem('dark');
        setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
      }

      // listen system
      darkScheme.addEventListener('change', (event) => {
        setDark(event.matches);
      });

      // manual switch
      const btnDark = document.querySelector('.btn-dark');
      btnDark.addEventListener('click', () => {
        setDark(localStorage.getItem('dark') !== 'true');
      });
    </script>

    <div
      class="nav-wrapper  inset-x-0 top-full z-40 flex  select-none justify-center duration-200 dark:bg-[--bg-dark] static h-auto flex-row !bg-transparent pb-0 transition-none !bg-gray-100">
      {{ $url := .RelPermalink }}<!---->
      {{ with site.Menus.main }}
      <nav class="ml-12 flex flex-row items-center space-x-10 rtl:space-x-reverse">
        {{ range . }}
        <a class="flex text-center p-1 m-3 rounded-md text-md bg-gray-200 dark:bg-gray-200/10"
          style="font-family: 'IBM Plex Mono';" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
      {{ end }}<!---->

      {{ with $.Scratch.Get "social_list" }}
      <nav
        class="mt-12 flex justify-center space-x-10 rtl:space-x-reverse dark:invert ltr:lg:ml-14 rtl:lg:mr-14 lg:mt-0 lg:items-center">
        {{ range . }}<!---->
        <a class="h-7 w-7 text-[0] [background:var(--url)_center_center/cover_no-repeat] lg:h-6 lg:w-6"
          style="--url: url(./{{ . }}.svg)"
          href="{{ if eq . `rss` }}{{ `index.xml` | absURL }}{{ else if eq . `mastodon` }}{{ index site.Params . }}{{ else }}https://{{ . }}{{ if eq . `threads` }}.net{{ else }}.com{{ end }}/{{ if eq . `linkedin` }}in/{{ end }}{{ index site.Params . }}{{ end }}"
          target="_blank" rel="{{ if eq . `rss` }}alternate{{ else }}me{{ end }}">
          {{ . }}
        </a>
        {{ end }}<!---->
      </nav>
      {{ end }}<!---->
    </div>

  </div>
</header>
