{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-14">#{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}


{{ if .IsHome }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-2 mb-12 flex items-center">
  {{ if $avatar_url }}
  <div
    class="ltr:-ml-1 rtl:-mr-1 ltr:mr-5 rtl:ml-5 h-24 w-24 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 dark:!bg-white/90">
    <img class="my-0 h-full w-full rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}" alt="{{ site.Params.name | default site.Title }}" />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div>
    <div class="mb-1 mt-3 text-4xl font-medium text-black dark:text-white">
      {{ site.Params.name }}
    </div>
    <div class="break-words">
      {{ site.Params.bio | markdownify }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}<!---->

<h3>Most recent posts</h3>
{{ else }}
<h2>{{ .Page.Title }}</h2>
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }}
{{ range $index, $page := $paginator.Pages }}

<section class="relative mb-10 p-4 rounded-lg border border-neutral-300 dark:border-neutral-700 dark:bg-neutral-800 transition-all shadow-none ease-out duration-200 hover:shadow hover:dark:bg-[#333333]">
  <h3 class="!my-0">{{ .Title }}</h3>
  <time class="text-sm antialiased opacity-60">{{ .Date | time.Format ":date_medium" }}</time>
  <p class="text-base">{{ .Summary | strings.Truncate 128 | plainify  }}</p>
  <a class="absolute inset-0 text-[0]" href="{{ .RelPermalink }}"></a>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-14 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ if .IsHome }}
<h3>Find me elsewhere</h3>
<div class="inline-flex [&_svg]:w-[26px]">
    {{- range site.Params.socialIcons }}
    <a  class="px-2" href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{ end }}
